body { 
  background-color: #000000; 
} 

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin: 4px;
  background-color: #0d0d0d;
}

#hero {
  color: #FFFFFF;
  background-color: #0d0d0d;
  padding: 64px;
}

a:link { 
  color: #FFFFFF; 
  text-decoration: none; 
} 

a:visited { 
  color: #E0F3FF; 
  text-decoration: none; 
} 

a:hover { 
  color: #90D5FF; 
  text-decoration: none; 
} 

a:active { 
  color: #D5FFFF; 
  text-decoration: none; 
}
