body { 
  background-color: #1c1c1c; 
} 

header {
  background-color: #000000;
  margin: 16px;
  padding: 32px;
  border-color: #FFFFFF
  border: 8px;
}

.hero {
  color: #FFFFFF;
  background-color: #000000;
  margin: 32px;
  padding: 64px;
  border-color: #FFFFFF;
  border: 8px;
}

a:link { 
  color: #FFFFFF; 
  text-decoration: none; 
} 

a:visited { 
  color: #E0F3FF; 
  text-decoration: none; 
} 

a:hover { 
  color: #90D5FF; 
  text-decoration: none; 
} 

a:active { 
  color: #D5FFFF; 
  text-decoration: none; 
}
