body { 
  background-color: #000000; 
} 

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin: 4px;
  background-color: #0d0d0d;
}

#hero {
  color: #FFFFFF;
  background-color: #0d0d0d;
  padding: 64px;
  margin: 4px;
}

#nav-title {
  color: #4bfff0;
  background-color: #0d0d0d;
  padding: 0;
  position: relative;
  display: inline-block;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 5rem;
  line-height: 1;
  margin: 0;
}

#hero-title {
  color: #4bfff0;
  background-color: #0d0d0d;
  padding: 0;
  position: relative;
  display: inline-block;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  margin: 0;
}

#nav-title .logo-wrap, #hero-title .logo-wrap {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  z-index: 5;
}

#nav-title .nav-logo-wrap img {
  position: absolute;

  /* Sizes the logo */
  width: 125px;
  height: 125px;

  object-fit: contain;

  /* Positions the logo */
  left: -50px;
  top: -88.5px;

  /* Gives the logo the angled look */
  transform: rotate(10deg);

  z-index: 2;
}

#hero-title .hero-logo-wrap img {
  position: absolute;

  /* Sizes the logo */
  width: 100px;
  height: 100px;

  object-fit: contain;

  /* Positions the logo */
  left: -50px;
  top: -88.5px;

  /* Gives the logo the angled look */
  transform: rotate(10deg);

  z-index: 2;
}

#subtitle {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 200;
}

a:link { 
  color: #FFFFFF; 
  text-decoration: none; 
} 

a:visited { 
  color: #E0F3FF; 
  text-decoration: none; 
} 

a:hover { 
  color: #90D5FF; 
  text-decoration: none; 
} 

a:active { 
  color: #D5FFFF; 
  text-decoration: none; 
}
